@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYlgl8uQYaun-CIlLiDRcvd0ZNw8AQSSj9Sw&usqp=CAU");*/
  /*background-color: #fa9427;*/
  background-size: 20%;
  max-width: 100vw;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chars-swiper {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

.chars-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.chars-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/
